<h3>Enter a city name and submit to search</h3>
<br/> 
<br/> 
<div class="row">
    <form action="/weather" method="GET">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"> <strong>Search city</strong> </label><br/> 
            <input type="text" class="form-control" placeholder="Example: london" name="searchterm">
        </div>
        <br/> 
        <br/> 
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/dashboard" class="btn orange">Cancel</a>
      </form>
</div>