<h3>Enter an Artist ID to get info</h3>
<br/> 
<br/> 
<div class="row">
    <form action="/spotify" method="GET">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"> <strong>Search Artist</strong> </label><br/> 
            <input type="text" class="form-control" placeholder="41MozSoPIsD1dJM0CLPjZF" name="searchTerm">
        </div>
        <br/> 
        <br/> 
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/dashboard" class="btn orange">Cancel</a>
      </form>
</div>