<h3>Enter a channel name to get info</h3>
<br/> 
<br/> 
<div class="row">
    <form action="/youtube" method="GET">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"> <strong>Search channel</strong> </label><br/> 
            <input type="text" class="form-control" placeholder="youtube channel" name="searchTerm">
        </div>
        <br/> 
        <br/> 
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/dashboard" class="btn orange">Cancel</a>
      </form>
</div>